* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    height: 5vh;
    text-align: center;
    padding: 10px;
}

main {
    width: 100%;
    height: 90vh;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-container {
    height: 70vh;
    width: 70vh;
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
}

#grid-container > .cell {
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: white;
}

#grid-container > .cell.clicked {
    background-color: cornflowerblue;
}

/* #grid-container > .cell.clicked.even {
    background-color: green;
}

#grid-container > .cell.clicked.odd {
    background-color: red;
} */